@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spinner {
  opacity: 1;
  position: relative;
  transition: opacity linear 0.1s;
}
.spinner:before {
  animation: 1s linear infinite spinner;
  border: solid 3px #eee;
  border-bottom-color: #ef6565;
  border-radius: 50%;
  content: "";
  height: 1.5em;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  width: 1.5em;
  will-change: transform;
}
